a {
    text-decoration: none;
    color: #323232;
}

p {
    margin: 0;
}

.img-half {
    max-width: 48%;
}

.img-full {
   width: 100%;
}

img {transition: .5s ease;}

img:hover {
        box-shadow: 0 0 0 5px #323232;
}

.img-half img, .img-full img, .img-66 img {
    width:100%;
    height:100%;
    object-fit:cover;
}

.section-big {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 0px 80px 0px;
}

.img_and_text {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

@media (max-width: 1200px) {
    p {font-size: 15px;}
}
@media (max-width: 992px) {
    .main-container {
        padding-top: 0px;
    }
    p {font-size: 13px;}
}
@media (max-width: 600px) {
    .naslov {font-size: 15px;}
}
@media (max-width: 400px) {
    .naslov {font-size: 13px;}
    p {font-size: 12px;}
}